<div class="container">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          required
          minlength="5" 
          maxlength="10" 
          pattern="[a-zA-Z0-9]*" 
          ngModel 
          name="firstName" 
          #firstName="ngModel"
          id="firstName" 
          class="form-control" 
          type="text">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
          required
          minlength="3" 
          maxlength="10" 
          pattern="[a-zA-Z0-9]*" 
          ngModel 
          name="lastName" 
          #lastName="ngModel"
          id="lastName" 
          class="form-control" 
          type="text">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          required
          ngModel
          email
          name="email" 
          #email="ngModel"
          id="email" 
          class="form-control" 
          type="email">
      </div>
      <div class="alert alert-danger" *ngIf="contact.touched && !contact.valid">
        Complete the <strong>contact section</strong>
        <div *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required">
            First name is <strong>required</strong>
          </div>
          <div *ngIf="firstName.errors.minlength">
            First name should be minimum 
            <strong>{{firstName.errors.minlength.requiredLength}}</strong>
            characters
          </div>
          <div *ngIf="firstName.errors.maxlength">
            First name should be maximum 10 characters
          </div>
          <div *ngIf="firstName.errors.pattern">
            First name doesn't match the pattern <strong>alphanumeric</strong>
          </div>
        </div>

        <div *ngIf="lastName.touched && !lastName.valid">
          <div *ngIf="lastName.errors.required">
              Last name is <strong>required</strong>
          </div>
          <div *ngIf="lastName.errors.minlength">
              Last name should be minimum 
              <strong>{{lastName.errors.minlength.requiredLength}}</strong>
              characters
          </div>
          <div *ngIf="lastName.errors.maxlength">
              Last name should be maximum 10 characters
          </div>
          <div *ngIf="lastName.errors.pattern">
              Last name doesn't match the pattern <strong>alphanumeric</strong>
          </div>
        </div>
        
        <div *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors?.required">
            Email is <strong>required</strong>
          </div>
          <div *ngIf="email.errors?.email && !email.errors?.required">
            Please <strong>enter a valid email</strong> address
          </div>
        </div>

      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea 
        ngModel 
        name="Comment" 
        id="comment" 
        cols="30" 
        rows="1" 
        class="form-control">
      </textarea>
    </div>
    <div class="checkbox">
      <label><input ngModel name="isSubscribed" type="checkbox">Subscribe</label>
    </div>
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select ngModel name="contactMethodSelect" id="contactMethodSelect" class="form-control">
        <!-- <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option> -->
        <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
      </select>
    </div>
    <div *ngFor="let method of contactMethods" class="radio">
      <label>
        <input ngModel type="radio" name="contactMethodRadio" id="contactMethodRadio" [value]="method.id">
        {{method.name}}
      </label>
    </div>
    <pre>{{f.value | json}}</pre>
    <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
  </form>
</div>