<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lorem Ipsum</mat-card-title>
    <mat-card-subtitle>simply dummy text</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="simply dummy text">
  <mat-card-content>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<p>
<!-- {{authService.currentUser.name}} -->
</p>
