.example-icon {
  padding: 0 14px;
}
  
.example-spacer {
  flex: 1 1 auto;
}

.logout{margin-left: 15px;}
.mat-toolbar{margin-bottom:10px;}
.mat-toolbar-row .active{background-color: rebeccapurple;}
ul{padding: 0}
ul li{padding:2px 0; display: block;}