<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div [ngSwitch]="viewEnvMode">
        <span *ngSwitchCase="'dev'" [style.color]="backgroundColor">Development Environment-</span>
        <span *ngSwitchCase="'test'" [style.color]="backgroundColor">Test Environment-</span>
        <span *ngSwitchCase="'prod'" [style.color]="backgroundColor">Production Environment-</span>
        <span *ngSwitchDefault>Development Environment-</span>
    </div>
    <span>Angular {{ title }}</span>
    <span class="example-spacer"></span>    
    <button mat-button (click)="showComponent('')" [style.display]="isLoggedIn ? 'block' : 'none'">Home</button>
    <button mat-button (click)="showComponent('about')" [style.display]="isLoggedIn ? 'block' : 'none'">About</button>
    <button mat-button (click)="showComponent('test1')" [style.display]="isLoggedIn ? 'block' : 'none'">Test1</button>
    <button mat-button (click)="showComponent('test2')" [style.display]="isLoggedIn ? 'block' : 'none'">Test2</button>
    <button mat-button (click)="showComponent('todo-list')" [style.display]="isLoggedIn ? 'block' : 'none'">Todos</button>
    <button mat-button (click)="showComponent('courses')" [style.display]="isLoggedIn ? 'block' : 'none'">Courses</button>
    <button mat-button (click)="showComponent('posts')" [style.display]="isLoggedIn ? 'block' : 'none'">Posts</button>
    <button mat-button (click)="showComponent('contact')" [style.display]="isLoggedIn ? 'block' : 'none'">Contact</button>
    <button mat-raised-button class="logout" (click)="logOut()" color="accent" [style.display]="isLoggedIn ? 'block' : 'none'">Log Out</button>   
  </mat-toolbar-row>
</mat-toolbar>

<!-- Name: {{user_displayName}}<br>
IsLoggedIn?: {{isLoggedIn}}<br>
Email: {{user_email}}
<br> -->

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="followers">Followers</a></li>
        <li routerLinkActive="active"><a [routerLink]="['followers', 111]">Profile</a></li>
        <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- start -->
<!-- <nav class="nav">
  <div class="nav-item" routerLink="/about" routerLinkActive="active">
    login
  </div>
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    home
  </div>
</nav> -->
<!-- <h1>Single slot transclusion</h1>
<app-card header="my header..." footer="my footer...">    
  <div class="card-block">
    <h4 class="card-title">You can put any content here</h4>
    <p class="card-text">For example this line of text and</p>
    <a href="#" class="btn btn-primary">This button</a>
  </div>      
</app-card> -->

<!-- <app-abc></app-abc> -->

<!-- <app-bootstrap-panel>
  <ng-container>Heading...</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
  <div class="anotherbody">
    <h2>AnotherBody</h2>
    <p>AnotherBody content here...</p>
  </div>
</app-bootstrap-panel> -->

<!-- <app-http-api></app-http-api> -->
<!-- <app-http-with-promises></app-http-with-promises> -->
<!-- <app-http-with-observables></app-http-with-observables> -->
<!-- <app-inheritance></app-inheritance> -->

<!-- end -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode=='list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">List view content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- using ngIf removes the element from  the dom : Structural directive-->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet</ng-template> -->

<!-- using properties e.g. hidden hides the element in the dom : Attribute directive -->
<!-- <div [hidden]="courses.length == 0">List of courses</div>
<div [hidden]="courses.length > 0">No courses yet</div> -->

<!-- <button mat-raised-button color="accent" (click)="loadCourses()">Load Courses</button>
<button mat-raised-button color="accent" (click)="onAddCourses()">Add Courses</button>
<button mat-raised-button color="primary" [disabled]="!canSave" (click)="onSaveCourses()">Save</button>
<br>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse; first as isFirst; last as isLast; even as isEven; index as i;">
    <button mat-raised-button color="warn" (click)="onRemoveCourses(course)">Remove</button>
    ID: {{course.id}}, Name: {{course.name}}, Index: {{i}} 
    <span *ngIf="isFirst">Is First</span>
    <span *ngIf="isLast">Is Last</span>
    <span *ngIf="isEven; then isEvenItem else isOddItem"></span>
    <ng-template #isEvenItem>Is Even</ng-template>
    <ng-template #isOddItem>Is Odd</ng-template>
  </li>
</ul> -->

<!-- <app-favourite [is-favourite]="post.isFavourite" (myChange)="onFavouriteChange($event)"></app-favourite> -->

<!-- safe traversal operator -->
<!-- <span>{{ task.assignee?.name }}</span> -->

<!-- <input type="text" appInputFormat [format]="'uppercase'">
  <input type="text" appInputFormat [format]="'lowercase'"> -->
<!-- above and below formats does the same thing. 
  change the @Input alias in the directive to get the below code working -->
<!-- the below will also work i.e. without passing any format parameter -->
<!-- <input type="text" appInputFormat> -->

<!-- <input type="text" [appInputFormat]="'lowercase'">
<input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <app-courses></app-courses> -->

<app-filter></app-filter>

<!-- <app-data-table></app-data-table> -->

<!-- <pre><p [id]="colSpan" [class.active]="isActive" [ngClass]="{
  'active': isActive,
  '': !isActive
}">{{isActive}}</p></pre>
<table><tr><td [attr.colspan]="colSpan">{{colSpan}}</td></tr></table>
<div class="example-tooltip-host" matTooltip="Tooltip!" [matTooltipPosition]="position">
  <span matTooltip="Tooltip!" [matTooltipPosition]="matTooltipPosition">I have a tooltip</span>
</div> -->

<!-- <mat-paginator 
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->

<!-- <p>Counter: {{ count | async }}</p>
<button (click)="increment()">Increment</button> -->

<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Todos App</h3>
      <h6 class="card-subtitle mb-2 text-muted">Using Angular & Redux</h6>
      <app-dashboard></app-dashboard>
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>