<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NG5 Material {{ title | uppercase }}</span>
    <span class="example-spacer"></span>    
    <button mat-button (click)="showComponent('')" [style.display]="isLoggedIn ? 'block' : 'none'">Home</button>
    <button mat-button (click)="showComponent('About')" [style.display]="isLoggedIn ? 'block' : 'none'">About</button>
    <button mat-button (click)="showComponent('test1')" [style.display]="isLoggedIn ? 'block' : 'none'">Test1</button>
    <button mat-button (click)="showComponent('test2')" [style.display]="isLoggedIn ? 'block' : 'none'">Test2</button>
    <button mat-raised-button class="logout" (click)="logOut()" color="accent" [style.display]="isLoggedIn ? 'block' : 'none'">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <nav class="nav">
  <div class="nav-item" routerLink="/about" routerLinkActive="active">
    login
  </div>
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    home
  </div>
</nav> -->
<!-- <h1>Single slot transclusion</h1>
<app-card header="my header" footer="my footer">
    
    <div class="card-block">
        <h4 class="card-title">You can put any content here</h4>
        <p class="card-text">For example this line of text and</p>
        <a href="#" class="btn btn-primary">This button</a>
      </div>
      
</app-card> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-abc></app-abc> -->
<app-favourite [is-favourite]="post.isFavourite" (myChange)="onFavouriteChange($event)"></app-favourite>
<!-- <app-http-api></app-http-api> -->
<!-- <app-http-with-promises></app-http-with-promises> -->
<!-- <app-http-with-observables></app-http-with-observables> -->
<!-- <app-inheritance></app-inheritance> -->
<!-- <br>
Name: {{user_displayName}}<br>
IsLoggedIn?: {{isLoggedIn}}<br>
Email: {{user_email}} -->
