<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular 5 {{ title }}</span>
    <span class="example-spacer"></span>    
    <button mat-button (click)="showComponent('')" [style.display]="isLoggedIn ? 'block' : 'none'">Home</button>
    <button mat-button (click)="showComponent('About')" [style.display]="isLoggedIn ? 'block' : 'none'">About</button>
    <button mat-button (click)="showComponent('test1')" [style.display]="isLoggedIn ? 'block' : 'none'">Test1</button>
    <button mat-button (click)="showComponent('test2')" [style.display]="isLoggedIn ? 'block' : 'none'">Test2</button>
    <button mat-raised-button class="logout" (click)="logOut()" color="accent" [style.display]="isLoggedIn ? 'block' : 'none'">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- start -->
<!-- <nav class="nav">
  <div class="nav-item" routerLink="/about" routerLinkActive="active">
    login
  </div>
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    home
  </div>
</nav> -->
<!-- <h1>Single slot transclusion</h1>
<app-card header="my header..." footer="my footer...">    
  <div class="card-block">
    <h4 class="card-title">You can put any content here</h4>
    <p class="card-text">For example this line of text and</p>
    <a href="#" class="btn btn-primary">This button</a>
  </div>      
</app-card> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-abc></app-abc> -->
<!-- <app-bootstrap-panel>
  <ng-container>Heading...</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
</app-bootstrap-panel> -->
<!-- <app-http-api></app-http-api> -->
<!-- <app-http-with-promises></app-http-with-promises> -->
<!-- <app-http-with-observables></app-http-with-observables> -->
<!-- <app-inheritance></app-inheritance> -->
<!-- <br>
Name: {{user_displayName}}<br>
IsLoggedIn?: {{isLoggedIn}}<br>
Email: {{user_email}} -->
<!-- end -->

<button mat-raised-button color="accent" (click)="loadCourses()">Load Courses</button>
<button mat-raised-button color="accent" (click)="onAddCourses()">Add Courses</button>
<button mat-raised-button color="primary" [disabled]="!canSave" (click)="onSaveCourses()">Save</button>
<br>
<!-- using ngIf removes the element from  the dom : Structural directive-->
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses</ng-template>
<!-- using properties e.g. hidden hides the element in the dom : Attribute directive -->
<!-- <div [hidden]="courses.length == 0">List of courses</div>
<div [hidden]="courses.length > 0">No courses yet</div> -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode=='list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">List view content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div> -->
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse; first as isFirst; last as isLast; even as isEven; index as i;">
    <button mat-raised-button color="warn" (click)="onRemoveCourses(course)">Remove</button>
    ID: {{course.id}}, Name: {{course.name}}, Index: {{i}} 
    <span *ngIf="isFirst">Is First</span>
    <span *ngIf="isLast">Is Last</span>
    <span *ngIf="isEven; then isEvenItem else isOddItem"></span>
    <ng-template #isEvenItem>Is Even</ng-template>
    <ng-template #isOddItem>Is Odd</ng-template>
  </li>
</ul>
<app-favourite [is-favourite]="post.isFavourite" (myChange)="onFavouriteChange($event)"></app-favourite>
<!-- safe traversal operator -->
<span>{{ task.assignee?.name }}</span>