<h3><i>SignUp Form (Template-driven Form module)</i></h3>
<!--<form *ngIf="user" #formData='ngForm' (ngSubmit)="addUser(formData)" novalidate>
  <mat-form-field>
      <input matInput type="text" placeholder="UserId" name="userid" [(ngModel)]="user.userid" #userid="ngModel" required pattern="[0-9]{5}">
      <mat-error *ngIf="userid.errors?.required && userid.touched">
        UserId is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userid.errors?.pattern && userid.touched">
        Only <strong>5</strong> characters and <strong>numeric</strong>
      </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" [type]="hide ? 'text' : 'password'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.errors?.required && password.touched">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" placeholder="UserName" name="username" [(ngModel)]="user.username" #username="ngModel" required>
      <mat-error [hidden]="username.valid || (username.pristine && !formData.submitted)">
          UserName is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" email required>
      <mat-error *ngIf="email.errors?.required">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="email.hasError('email') && !email.errors?.required">
        Please <strong>enter a valid email</strong> address
    </mat-error>
  </mat-form-field>
  <br>
  <div ngModelGroup="phone">
      <mat-form-field>
          <input matInput type="text" placeholder="Landline" name="landline" [(ngModel)]="user.phone.landline" #landline="ngModel" minlength="10">
          <mat-error [hidden]="landline.valid || (landline.pristine && !formData.submitted)">
                Minimum <strong>10</strong> characters
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" placeholder="Mobile" name="mobile" [(ngModel)]="user.phone.mobile" #mobile="ngModel" required minlength="10">
          <mat-error [hidden]="mobile.valid || (mobile.pristine && !formData.submitted)">
              Please enter a valid mobile <strong>number</strong>
          </mat-error>
      </mat-form-field>    
  </div>
  <br>
  <div class="example-button-row">
      <button mat-raised-button type="submit" [disabled]="!formData.valid" color="accent">Login in</button>
      <a routerLink="/signup" mat-raised-button color="primary">Go back</a>
  </div>
  <pre>Form status: {{formData.status | json}}</pre>
  <pre>Form value:<br>{{formData.value | json}}</pre>
  {{ user | json }}
</form>-->
<form *ngIf="user" #formData='ngForm' (ngSubmit)="addUser(formData)">
    <mat-form-field>
        <input matInput type="text" placeholder="UserId" name="userid" ngModel #userid="ngModel" required pattern="[0-9]{5}">
        <mat-error *ngIf="userid.errors?.required && userid.touched">
          UserId is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userid.errors?.pattern && userid.touched">
          Only <strong>5</strong> characters and <strong>numeric</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" name="password" ngModel #password="ngModel" [type]="hide ? 'text' : 'password'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.errors?.required && password.touched">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="UserName" name="username" ngModel #username="ngModel" required>
        <mat-error *ngIf="username.errors?.required && username.touched">
            UserName is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email" ngModel #email="ngModel" email required>
        <mat-error *ngIf="email.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.errors?.email && !email.errors?.required">
          Please <strong>enter a valid email</strong> address
      </mat-error>
    </mat-form-field>
    <br>
    <div ngModelGroup="phone">
        <mat-form-field>
            <input matInput type="text" placeholder="Landline" name="landline" ngModel #landline="ngModel" pattern="[0-9]{11}">
            <mat-error *ngIf="landline.errors?.pattern && mobile.touched">
                Please enter a valid landline <strong>number</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" placeholder="Mobile" name="mobile" ngModel #mobile="ngModel" required pattern="[0-9]{10}">
            <mat-error *ngIf="mobile.errors?.pattern && mobile.touched">
                Please enter a valid mobile <strong>number</strong>
            </mat-error>
            <mat-error *ngIf="mobile.errors?.required && mobile.touched">
                Mobile is <strong>required</strong>
            </mat-error>
        </mat-form-field>    
    </div>
    <br>
    <div class="example-button-row">
        <button mat-raised-button type="submit" [disabled]="!formData.valid" color="accent">Login in</button>
        <a routerLink="/signup" mat-raised-button color="primary">Go back</a>
    </div>
    <pre>Form status: {{formData.status | json}}</pre>
    <pre>Form value:<br>{{formData.value | json}}</pre>
    {{ user | json }}
  </form>
<!-- <ul *ngFor="let user of tempUser"> -->
<ul *ngFor="let user of user">
  <li>{{user.userid}}</li>
  <li>{{user.password}}</li>
  <li>{{user.username}}</li>
  <li>{{user.email}}</li>
  <li>{{user.phone.landline}}</li>
  <li>{{user.phone.mobile}}</li>
</ul>
