<form #formData='ngForm' (ngSubmit)="addUser(formData)">
    <mat-form-field>
        <input matInput type="text" placeholder="UserId" name="userid" ngModel required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="User Name" name="username" ngModel required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email" ngModel required>
    </mat-form-field>
    <br>
    <div ngModelGroup="phone">
        <mat-form-field>
            <input matInput type="text" placeholder="Landline" name="landline" ngModel>            
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" placeholder="Mobile" name="mobile" ngModel required>
        </mat-form-field>
    </div>
    <br>
    <div class="example-button-row">
        <button mat-raised-button type="submit" [disabled]="!formData.valid" color="accent">Login in</button>
        <a routerLink="/login" mat-raised-button color="primary">Go back</a>
    </div>
</form>
<pre>{{formData.value | json}}</pre>
<ul *ngFor="let user of myUser">
    <li class="col">{{user.userid}}</li>
    <li class="col">{{user.username}}</li>
    <li class="col">{{user.email}}</li>
    <li class="col">{{user.phone.landline}}</li>
    <li class="col">{{user.phone.mobile}}</li>
</ul>
