.mat-form-field {
    width: 200px;
}
  
.example-margin {
    margin: 0 10px;
    width: 200px;
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 400px;
    display: block;
    font-size:12px;
    margin-bottom: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #ff4081;
}
.mat-icon{cursor: pointer;color: #3f51b5;}
.example-button-row{
    padding-bottom: 10px;
}